# Model for single field- Maize

In [2]:
# Sample Machine Learning Model for predicting the moisture after particular time 

# Crop = Maize

# Features Under Consideration- timestamp, Air Humidity, Temperature, Pressure, Wind Speed


# Dependent Variable- soil moisture after particular time 

# Concept- Soil moisture after particular time is predicted(time in minutes)
# If its value is lesser than threshold, model says 'Irrigate' otherwise not

# Field 1: Maize, less water irrigation
# Field 2: Peanuts, irrigation based on water loss
# Field 3: Peanuts, less water irrigation
# Field 4: Peanuts, normal irrigation

#intitially let us consider the field 1 
# Field was irrigated and now it irrgation is turned off there fore the moisture is decreasing

In [3]:
import numpy as np
import pandas as pd 
from matplotlib import pyplot as plt
import matplotlib

In [4]:
df0= pd.read_csv("Train.csv")

df0.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28049 entries, 0 to 28048
Data columns (total 15 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   timestamp             28049 non-null  object
 1   Soil humidity 1       8917 non-null   float64
 2   Irrigation field 1    10066 non-null  float64
 3   Soil humidity 2       26304 non-null  float64
 4   Irrigation field 2    28029 non-null  float64
 5   Soil humidity 3       16086 non-null  float64
 6   Irrigation field 3    17236 non-null  float64
 7   Soil humidity 4       26306 non-null  float64
 8   Irrigation field 4    28029 non-null  float64
 9   Air temperature (C)   23995 non-null  float64
 10  Air humidity (%)      23995 non-null  float64
 11  Pressure (KPa)        23995 non-null  float64
 12  Wind speed (Km/h)     23995 non-null  float64
 13  Wind gust (Km/h)      23995 non-null  float64
 14  Wind direction (Deg)  23995 non-null  float64
dtypes: float64(14), object(1)
memory usage: 3.2+ MB

In [5]:
df0.size

420735

In [6]:
df1= df0.drop(df0.columns[[3,4,5,6,7,8, 13, 14]], axis=1)

df1.size

196343

In [7]:
df1.head(10)

,timestamp,Soil humidity 1,Irrigation field 1,Air temperature (C),Air humidity (%),Pressure (KPa),Wind speed (Km/h)
0,2019-02-23 00:00:00,67.92,0.0,19.52,55.04,101.50,2.13
1,2019-02-23 00:05:00,67.89,0.0,19.49,55.17,101.50,2.01
2,2019-02-23 00:10:00,67.86,0.0,19.47,55.30,101.51,1.90
3,2019-02-23 00:15:00,67.84,0.0,19.54,54.20,101.51,2.28
4,2019-02-23 00:20:00,67.81,0.0,19.61,53.09,101.51,2.66
5,2019-02-23 00:25:00,67.78,0.0,19.67,51.91,101.51,2.51
6,2019-02-23 00:30:00,67.76,0.0,19.74,50.72,101.50,2.36
7,2019-02-23 00:35:00,67.73,0.0,19.80,49.54,101.50,2.21
8,2019-02-23 00:40:00,67.70,0.0,19.91,47.70,101.50,2.46
9,2019-02-23 00:45:00,67.68,0.0,20.02,45.86,101.50,2.71

In [8]:
df1

,timestamp,Soil humidity 1,Irrigation field 1,Air temperature (C),Air humidity (%),Pressure (KPa),Wind speed (Km/h)
0,2019-02-23 00:00:00,67.92,0.0,19.52,55.04,101.50,2.13
1,2019-02-23 00:05:00,67.89,0.0,19.49,55.17,101.50,2.01
2,2019-02-23 00:10:00,67.86,0.0,19.47,55.30,101.51,1.90
3,2019-02-23 00:15:00,67.84,0.0,19.54,54.20,101.51,2.28
4,2019-02-23 00:20:00,67.81,0.0,19.61,53.09,101.51,2.66
...,...,...,...,...,...,...,...
28044,2019-05-31 09:00:00,NaN,NaN,NaN,NaN,NaN,NaN
28045,2019-05-31 09:05:00,NaN,NaN,NaN,NaN,NaN,NaN
28046,2019-05-31 09:10:00,NaN,NaN,NaN,NaN,NaN,NaN
28047,2019-05-31 09:15:00,NaN,NaN,NaN,NaN,NaN,NaN
28048,2019-05-31 09:20:00,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
df1.isnull().sum()

timestamp                  0
Soil humidity 1        19132
Irrigation field 1     17983
Air temperature (C)     4054
Air humidity (%)        4054
Pressure (KPa)          4054
Wind speed (Km/h)       4054
dtype: int64

# Data Cleaning

In [10]:
df1.iloc[:, 0]

0        2019-02-23 00:00:00
1        2019-02-23 00:05:00
2        2019-02-23 00:10:00
3        2019-02-23 00:15:00
4        2019-02-23 00:20:00
                ...
28044    2019-05-31 09:00:00
28045    2019-05-31 09:05:00
28046    2019-05-31 09:10:00
28047    2019-05-31 09:15:00
28048    2019-05-31 09:20:00
Name: timestamp, Length: 28049, dtype: object

In [11]:
#converting timestamp into right format 
df2=df1
df2['timestamp']= df2['timestamp'].apply(lambda x: pd.Timestamp(x).minute)
df2.head(50)

,timestamp,Soil humidity 1,Irrigation field 1,Air temperature (C),Air humidity (%),Pressure (KPa),Wind speed (Km/h)
0,0,67.92,0.0,19.52,55.04,101.50,2.13
1,5,67.89,0.0,19.49,55.17,101.50,2.01
2,10,67.86,0.0,19.47,55.30,101.51,1.90
3,15,67.84,0.0,19.54,54.20,101.51,2.28
4,20,67.81,0.0,19.61,53.09,101.51,2.66
5,25,67.78,0.0,19.67,51.91,101.51,2.51
6,30,67.76,0.0,19.74,50.72,101.50,2.36
7,35,67.73,0.0,19.80,49.54,101.50,2.21
8,40,67.70,0.0,19.91,47.70,101.50,2.46
9,45,67.68,0.0,20.02,45.86,101.50,2.71
10,50,67.65,0.0,20.10,44.76,101.50,2.80
11,55,67.62,0.0,20.19,43.67,101.49,2.89
12,0,67.59,0.0,20.30,42.56,101.49,3.00
13,5,67.57,0.0,20.41,41.44,101.49,3.11
14,10,67.54,0.0,20.41,41.58,101.48,3.50
15,15,67.51,0.0,20.41,41.71,101.48,3.90
16,20,67.49,0.0,20.61,40.34,101.48,4.74
17,25,67.46,0.0,20.81,38.96,101.48,5.58
18,30,67.43,0.0,20.93,37.33,101.48,5.74
19,35,67.41,0.0,21.06,35.69,101.48,5.89
20,40,67.38,0.0,21.18,34.06,101.47,6.04
21,45,67.35,0.0,21.30,32.42,101.47,6.20
22,50,67.32,0.0,21.35,31.07,101.46,6.06
23,55,67.30,0.0,21.40,29.72,101.46,5.93
24,0,67.27,0.0,21.44,28.38,101.46,5.80
25,5,67.24,0.0,21.49,27.03,101.45,5.66
26,10,67.22,0.0,21.56,26.62,101.44,7.11
27,15,67.19,0.0,21.62,26.22,101.43,8.56
28,20,67.16,0.0,21.66,25.72,101.42,8.89
29,25,67.14,0.0,21.69,25.21,101.41,9.21
30,30,67.11,0.0,21.48,25.80,101.40,8.76
31,35,67.08,0.0,21.28,26.39,101.40,8.32
32,40,67.05,0.0,21.30,25.53,101.39,8.61
33,45,67.03,0.0,21.32,24.67,101.38,8.90
34,50,67.00,0.0,21.28,24.32,101.38,8.22
35,55,66.97,0.0,21.24,23.96,101.37,7.53
36,0,66.94,0.0,21.20,23.81,101.36,7.70
37,5,66.92,0.0,21.16,23.66,101.36,7.87
38,10,66.89,0.0,21.13,23.50,101.35,8.04
39,15,66.86,0.0,21.09,23.35,101.35,8.21
40,20,66.83,0.0,21.10,23.09,101.35,8.33
41,25,66.81,0.0,21.11,22.84,101.34,8.46
42,30,66.78,0.0,21.12,22.58,101.34,8.58
43,35,66.75,0.0,21.13,22.32,101.34,8.70
44,40,66.72,0.0,20.94,22.58,101.34,7.26
45,45,66.69,0.0,20.76,22.83,101.34,5.82
46,50,66.67,0.0,20.56,23.40,101.34,5.31
47,55,66.64,0.0,20.36,23.97,101.34,4.80
48,0,66.61,0.0,20.15,24.54,101.33,4.28
49,5,66.58,0.0,19.95,25.11,101.33,3.77

In [12]:
#create a series and fill it with modified timestamps(in which values are in the form of minutes)

df3=df2

In [13]:
arr= []

for i in range(0, len(df3['timestamp'].to_numpy())):
    temp=i*5
    arr.append(temp)
    

series= pd.Series(arr)

series

0             0
1             5
2            10
3            15
4            20
          ...
28044    140220
28045    140225
28046    140230
28047    140235
28048    140240
Length: 28049, dtype: int64

In [14]:
df3['timestamp']= series

In [15]:
df3.head(30)

,timestamp,Soil humidity 1,Irrigation field 1,Air temperature (C),Air humidity (%),Pressure (KPa),Wind speed (Km/h)
0,0,67.92,0.0,19.52,55.04,101.50,2.13
1,5,67.89,0.0,19.49,55.17,101.50,2.01
2,10,67.86,0.0,19.47,55.30,101.51,1.90
3,15,67.84,0.0,19.54,54.20,101.51,2.28
4,20,67.81,0.0,19.61,53.09,101.51,2.66
5,25,67.78,0.0,19.67,51.91,101.51,2.51
6,30,67.76,0.0,19.74,50.72,101.50,2.36
7,35,67.73,0.0,19.80,49.54,101.50,2.21
8,40,67.70,0.0,19.91,47.70,101.50,2.46
9,45,67.68,0.0,20.02,45.86,101.50,2.71
10,50,67.65,0.0,20.10,44.76,101.50,2.80
11,55,67.62,0.0,20.19,43.67,101.49,2.89
12,60,67.59,0.0,20.30,42.56,101.49,3.00
13,65,67.57,0.0,20.41,41.44,101.49,3.11
14,70,67.54,0.0,20.41,41.58,101.48,3.50
15,75,67.51,0.0,20.41,41.71,101.48,3.90
16,80,67.49,0.0,20.61,40.34,101.48,4.74
17,85,67.46,0.0,20.81,38.96,101.48,5.58
18,90,67.43,0.0,20.93,37.33,101.48,5.74
19,95,67.41,0.0,21.06,35.69,101.48,5.89
20,100,67.38,0.0,21.18,34.06,101.47,6.04
21,105,67.35,0.0,21.30,32.42,101.47,6.20
22,110,67.32,0.0,21.35,31.07,101.46,6.06
23,115,67.30,0.0,21.40,29.72,101.46,5.93
24,120,67.27,0.0,21.44,28.38,101.46,5.80
25,125,67.24,0.0,21.49,27.03,101.45,5.66
26,130,67.22,0.0,21.56,26.62,101.44,7.11
27,135,67.19,0.0,21.62,26.22,101.43,8.56
28,140,67.16,0.0,21.66,25.72,101.42,8.89
29,145,67.14,0.0,21.69,25.21,101.41,9.21

In [16]:
df3.size

196343

In [17]:
#remove null values from dataset 
df4= df3.dropna()

In [18]:
df4.size

62398

In [19]:
df4.isnull().sum()

timestamp              0
Soil humidity 1        0
Irrigation field 1     0
Air temperature (C)    0
Air humidity (%)       0
Pressure (KPa)         0
Wind speed (Km/h)      0
dtype: int64

In [20]:
#Irrigation Field has 0 means the field has not been irrigated 
df5= df4.drop(['Irrigation field 1'], axis=1)

df5.size

53484

In [21]:
df5.rename(columns= {'Soil humidity 1': 'Soil_humidity', 'Air temperature (C)':'Temperature(C)','Air humidity (%)':'Air_humidity(%)'}, inplace=True)

df5.head()

,timestamp,Soil_humidity,Temperature(C),Air_humidity(%),Pressure (KPa),Wind speed (Km/h)
0,0,67.92,19.52,55.04,101.50,2.13
1,5,67.89,19.49,55.17,101.50,2.01
2,10,67.86,19.47,55.30,101.51,1.90
3,15,67.84,19.54,54.20,101.51,2.28
4,20,67.81,19.61,53.09,101.51,2.66

# Data for Peanut

In [22]:
dfPeanut= df0.drop(df0.columns[[1,2,5,6,7,8, 13, 14]], axis=1)

dfPeanut.head()

,timestamp,Soil humidity 2,Irrigation field 2,Air temperature (C),Air humidity (%),Pressure (KPa),Wind speed (Km/h)
0,2019-02-23 00:00:00,55.72,0.0,19.52,55.04,101.50,2.13
1,2019-02-23 00:05:00,55.74,0.0,19.49,55.17,101.50,2.01
2,2019-02-23 00:10:00,55.77,0.0,19.47,55.30,101.51,1.90
3,2019-02-23 00:15:00,55.79,0.0,19.54,54.20,101.51,2.28
4,2019-02-23 00:20:00,55.82,0.0,19.61,53.09,101.51,2.66

In [23]:
dfPeanut['timestamp']= dfPeanut['timestamp'].apply(lambda x: pd.Timestamp(x).minute)
dfPeanut.head()

,timestamp,Soil humidity 2,Irrigation field 2,Air temperature (C),Air humidity (%),Pressure (KPa),Wind speed (Km/h)
0,0,55.72,0.0,19.52,55.04,101.50,2.13
1,5,55.74,0.0,19.49,55.17,101.50,2.01
2,10,55.77,0.0,19.47,55.30,101.51,1.90
3,15,55.79,0.0,19.54,54.20,101.51,2.28
4,20,55.82,0.0,19.61,53.09,101.51,2.66

In [24]:
arr= []

for i in range(0, len(dfPeanut['timestamp'].to_numpy())):
    temp=i*5
    arr.append(temp)
    

series= pd.Series(arr)

series

0             0
1             5
2            10
3            15
4            20
          ...
28044    140220
28045    140225
28046    140230
28047    140235
28048    140240
Length: 28049, dtype: int64

In [25]:
dfPeanut= dfPeanut.dropna()

dfPeanut.head()

,timestamp,Soil humidity 2,Irrigation field 2,Air temperature (C),Air humidity (%),Pressure (KPa),Wind speed (Km/h)
0,0,55.72,0.0,19.52,55.04,101.50,2.13
1,5,55.74,0.0,19.49,55.17,101.50,2.01
2,10,55.77,0.0,19.47,55.30,101.51,1.90
3,15,55.79,0.0,19.54,54.20,101.51,2.28
4,20,55.82,0.0,19.61,53.09,101.51,2.66

In [26]:
dfPeanut.isnull().sum()

timestamp              0
Soil humidity 2        0
Irrigation field 2     0
Air temperature (C)    0
Air humidity (%)       0
Pressure (KPa)         0
Wind speed (Km/h)      0
dtype: int64

In [27]:
dfPeanut= dfPeanut.drop(['Irrigation field 2'], axis=1)

In [28]:
dfPeanut.rename(columns= {'Soil humidity 2': 'Soil_humidity', 'Air temperature (C)':'Temperature(C)','Air humidity (%)':'Air_humidity(%)'}, inplace=True)

dfPeanut.head()

,timestamp,Soil_humidity,Temperature(C),Air_humidity(%),Pressure (KPa),Wind speed (Km/h)
0,0,55.72,19.52,55.04,101.50,2.13
1,5,55.74,19.49,55.17,101.50,2.01
2,10,55.77,19.47,55.30,101.51,1.90
3,15,55.79,19.54,54.20,101.51,2.28
4,20,55.82,19.61,53.09,101.51,2.66

In [29]:
dfMaize=df5

dfMaize.head()

,timestamp,Soil_humidity,Temperature(C),Air_humidity(%),Pressure (KPa),Wind speed (Km/h)
0,0,67.92,19.52,55.04,101.50,2.13
1,5,67.89,19.49,55.17,101.50,2.01
2,10,67.86,19.47,55.30,101.51,1.90
3,15,67.84,19.54,54.20,101.51,2.28
4,20,67.81,19.61,53.09,101.51,2.66

In [30]:
dfMaize['Crop_name']= 'maize'

In [31]:
dfMaize

,timestamp,Soil_humidity,Temperature(C),Air_humidity(%),Pressure (KPa),Wind speed (Km/h),Crop_name
0,0,67.92,19.52,55.04,101.50,2.13,maize
1,5,67.89,19.49,55.17,101.50,2.01,maize
2,10,67.86,19.47,55.30,101.51,1.90,maize
3,15,67.84,19.54,54.20,101.51,2.28,maize
4,20,67.81,19.61,53.09,101.51,2.66,maize
...,...,...,...,...,...,...,...
8909,44545,39.66,16.23,96.00,101.26,0.54,maize
8910,44550,39.66,16.09,96.00,101.26,0.16,maize
8911,44555,39.67,15.96,96.00,101.28,0.16,maize
8912,44560,39.67,15.84,96.00,101.29,0.15,maize
8913,44565,39.68,15.72,96.00,101.30,0.08,maize

In [32]:
dfPeanut['Crop_name']='peanut'

In [33]:
dfPeanut.head()

,timestamp,Soil_humidity,Temperature(C),Air_humidity(%),Pressure (KPa),Wind speed (Km/h),Crop_name
0,0,55.72,19.52,55.04,101.50,2.13,peanut
1,5,55.74,19.49,55.17,101.50,2.01,peanut
2,10,55.77,19.47,55.30,101.51,1.90,peanut
3,15,55.79,19.54,54.20,101.51,2.28,peanut
4,20,55.82,19.61,53.09,101.51,2.66,peanut

In [34]:
dfCombined= pd.concat([dfMaize, dfPeanut], axis=0)

dfCombined

,timestamp,Soil_humidity,Temperature(C),Air_humidity(%),Pressure (KPa),Wind speed (Km/h),Crop_name
0,0,67.92,19.52,55.04,101.50,2.13,maize
1,5,67.89,19.49,55.17,101.50,2.01,maize
2,10,67.86,19.47,55.30,101.51,1.90,maize
3,15,67.84,19.54,54.20,101.51,2.28,maize
4,20,67.81,19.61,53.09,101.51,2.66,maize
...,...,...,...,...,...,...,...
26296,20,-4.00,19.46,96.00,101.04,6.52,peanut
26297,25,-4.00,19.90,96.00,101.04,6.78,peanut
26298,30,-4.00,20.34,96.00,101.04,7.04,peanut
26299,35,-4.00,20.70,96.00,101.05,7.24,peanut
26300,40,-4.00,21.05,96.00,101.06,7.45,peanut

In [35]:
cropStats= dfCombined['Crop_name'].value_counts()

cropStats

peanut    23995
maize      8914
Name: Crop_name, dtype: int64

In [36]:
dummies= pd.get_dummies(dfCombined.Crop_name)

dummies

       maize  peanut
0          1       0
1          1       0
2          1       0
3          1       0
4          1       0
...      ...     ...
26296      0       1
26297      0       1
26298      0       1
26299      0       1
26300      0       1

[32909 rows x 2 columns]

In [37]:
dfCombined2= pd.concat([dfCombined, dummies], axis=1)

dfCombined2=dfCombined2.drop(['Crop_name'], axis=1)

dfCombined2.head()

,timestamp,Soil_humidity,Temperature(C),Air_humidity(%),Pressure (KPa),Wind speed (Km/h),maize,peanut
0,0,67.92,19.52,55.04,101.50,2.13,1,0
1,5,67.89,19.49,55.17,101.50,2.01,1,0
2,10,67.86,19.47,55.30,101.51,1.90,1,0
3,15,67.84,19.54,54.20,101.51,2.28,1,0
4,20,67.81,19.61,53.09,101.51,2.66,1,0

In [38]:
dfCombined2.shape

(32909, 8)

In [39]:
X = dfCombined2.drop(['Soil_humidity'],axis='columns') #independent
X.head()

,timestamp,Temperature(C),Air_humidity(%),Pressure (KPa),Wind speed (Km/h),maize,peanut
0,0,19.52,55.04,101.50,2.13,1,0
1,5,19.49,55.17,101.50,2.01,1,0
2,10,19.47,55.30,101.51,1.90,1,0
3,15,19.54,54.20,101.51,2.28,1,0
4,20,19.61,53.09,101.51,2.66,1,0

In [40]:
y = dfCombined2.Soil_humidity # dependent
y.head()

0    67.92
1    67.89
2    67.86
3    67.84
4    67.81
Name: Soil_humidity, dtype: float64

In [41]:
dfCombined2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 32909 entries, 0 to 26300
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   timestamp          32909 non-null  int64
 1   Soil_humidity      32909 non-null  float64
 2   Temperature(C)     32909 non-null  float64
 3   Air_humidity(%)    32909 non-null  float64
 4   Pressure (KPa)     32909 non-null  float64
 5   Wind speed (Km/h)  32909 non-null  float64
 6   maize              32909 non-null  uint8
 7   peanut             32909 non-null  uint8
dtypes: float64(5), int64(1), uint8(2)
memory usage: 1.8 MB

In [42]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.3,random_state=10)

In [43]:
from sklearn.linear_model import LinearRegression
lr_clf = LinearRegression()
lr_clf.fit(X_train,y_train)
lr_clf.score(X_test,y_test)

0.5860275882532375

In [44]:
from sklearn.model_selection import ShuffleSplit
from sklearn.model_selection import cross_val_score

cv = ShuffleSplit(n_splits=5, test_size=0.2, random_state=0)

cross_val_score(LinearRegression(), X, y, cv=cv)

array([0.58359068, 0.57147726, 0.59456906, 0.58917239, 0.58065195])

In [45]:

from sklearn.model_selection import GridSearchCV

from sklearn.linear_model import Lasso
from sklearn.tree import DecisionTreeRegressor

def find_best_model_using_gridsearchcv(X,y):
    algos = {
        'linear_regression' : {
            'model': LinearRegression(),
            'params': {
                'normalize': [True, False]
            }
        },
        'lasso': {
            'model': Lasso(),
            'params': {
                'alpha': [1,2],
                'selection': ['random', 'cyclic']
            }
        },
        'decision_tree': {
            'model': DecisionTreeRegressor(),
            'params': {
                'criterion' : ['mse','friedman_mse'],
                'splitter': ['best','random']
            }
        }
    }
    scores = []
    cv = ShuffleSplit(n_splits=5, test_size=0.2, random_state=0)
    for algo_name, config in algos.items():
        gs =  GridSearchCV(config['model'], config['params'], cv=cv, return_train_score=False)
        gs.fit(X,y)
        scores.append({
            'model': algo_name,
            'best_score': gs.best_score_,
            'best_params': gs.best_params_
        })

    return pd.DataFrame(scores,columns=['model','best_score','best_params'])

find_best_model_using_gridsearchcv(X,y)

C:\Users\Lenovo\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\linear_model\_base.py:141: FutureWarning: 'normalize' was deprecated in version 1.0 and will be removed in 1.2.
If you wish to scale the data, use Pipeline with a StandardScaler in a preprocessing stage. To reproduce the previous behavior:

from sklearn.pipeline import make_pipeline

model = make_pipeline(StandardScaler(with_mean=False), LinearRegression())

If you wish to pass a sample_weight parameter, you need to pass it as a fit parameter to each step of the pipeline as follows:

kwargs = {s[0] + '__sample_weight': sample_weight for s in model.steps}
model.fit(X, y, **kwargs)


  warnings.warn(
C:\Users\Lenovo\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\linear_model\_base.py:141: FutureWarning: 'normalize' was deprecated in version 1.0 and will be removed in 1.2.
If you wish to scale the data, use Pipeline with a StandardScaler in a preprocessing stage. To reproduce the previous behavior:

from sklearn.pipeline import make_pipeline

model = make_pipeline(StandardScaler(with_mean=False), LinearRegression())

If you wish to pass a sample_weight parameter, you need to pass it as a fit parameter to each step of the pipeline as follows:

kwargs = {s[0] + '__sample_weight': sample_weight for s in model.steps}
model.fit(X, y, **kwargs)


  warnings.warn(
C:\Users\Lenovo\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\linear_model\_base.py:141: FutureWarning: 'normalize' was deprecated in version 1.0 and will be removed in 1.2.
If you wish to scale the data, use Pipeline with a StandardScaler in a preprocessing stage. To reproduce the previous behavior:

from sklearn.pipeline import make_pipeline

model = make_pipeline(StandardScaler(with_mean=False), LinearRegression())

If you wish to pass a sample_weight parameter, you need to pass it as a fit parameter to each step of the pipeline as follows:

kwargs = {s[0] + '__sample_weight': sample_weight for s in model.steps}
model.fit(X, y, **kwargs)


  warnings.warn(
C:\Users\Lenovo\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\linear_model\_base.py:141: FutureWarning: 'normalize' was deprecated in version 1.0 and will be removed in 1.2.
If you wish to scale the data, use Pipeline with a StandardScaler in a preprocessing stage. To reproduce the previous behavior:

from sklearn.pipeline import make_pipeline

model = make_pipeline(StandardScaler(with_mean=False), LinearRegression())

If you wish to pass a sample_weight parameter, you need to pass it as a fit parameter to each step of the pipeline as follows:

kwargs = {s[0] + '__sample_weight': sample_weight for s in model.steps}
model.fit(X, y, **kwargs)


  warnings.warn(
C:\Users\Lenovo\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\linear_model\_base.py:141: FutureWarning: 'normalize' was deprecated in version 1.0 and will be removed in 1.2.
If you wish to scale the data, use Pipeline with a StandardScaler in a preprocessing stage. To reproduce the previous behavior:

from sklearn.pipeline import make_pipeline

model = make_pipeline(StandardScaler(with_mean=False), LinearRegression())

If you wish to pass a sample_weight parameter, you need to pass it as a fit parameter to each step of the pipeline as follows:

kwargs = {s[0] + '__sample_weight': sample_weight for s in model.steps}
model.fit(X, y, **kwargs)


  warnings.warn(
C:\Users\Lenovo\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\linear_model\_base.py:148: FutureWarning: 'normalize' was deprecated in version 1.0 and will be removed in 1.2. Please leave the normalize parameter to its default value to silence this warning. The default behavior of this estimator is to not do any normalization. If normalization is needed please use sklearn.preprocessing.StandardScaler instead.
  warnings.warn(
C:\Users\Lenovo\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\linear_model\_base.py:148: FutureWarning: 'normalize' was deprecated in version 1.0 and will be removed in 1.2. Please leave the normalize parameter to its default value to silence this warning. The default behavior of this estimator is to not do any normalization. If normalization is needed please use sklearn.preprocessing.StandardScaler instead.
  warnings.warn(
C:\Users\Lenovo\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\linear_model\_base.py:148: FutureWarning: 'normalize' was deprecated in version 1.0 and will be removed in 1.2. Please leave the normalize parameter to its default value to silence this warning. The default behavior of this estimator is to not do any normalization. If normalization is needed please use sklearn.preprocessing.StandardScaler instead.
  warnings.warn(
C:\Users\Lenovo\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\linear_model\_base.py:148: FutureWarning: 'normalize' was deprecated in version 1.0 and will be removed in 1.2. Please leave the normalize parameter to its default value to silence this warning. The default behavior of this estimator is to not do any normalization. If normalization is needed please use sklearn.preprocessing.StandardScaler instead.
  warnings.warn(
C:\Users\Lenovo\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\linear_model\_base.py:148: FutureWarning: 'normalize' was deprecated in version 1.0 and will be removed in 1.2. Please leave the normalize parameter to its default value to silence this warning. The default behavior of this estimator is to not do any normalization. If normalization is needed please use sklearn.preprocessing.StandardScaler instead.
  warnings.warn(
C:\Users\Lenovo\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\linear_model\_base.py:148: FutureWarning: 'normalize' was deprecated in version 1.0 and will be removed in 1.2. Please leave the normalize parameter to its default value to silence this warning. The default behavior of this estimator is to not do any normalization. If normalization is needed please use sklearn.preprocessing.StandardScaler instead.
  warnings.warn(
C:\Users\Lenovo\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\tree\_classes.py:397: FutureWarning: Criterion 'mse' was deprecated in v1.0 and will be removed in version 1.2. Use `criterion='squared_error'` which is equivalent.
  warnings.warn(
C:\Users\Lenovo\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\tree\_classes.py:397: FutureWarning: Criterion 'mse' was deprecated in v1.0 and will be removed in version 1.2. Use `criterion='squared_error'` which is equivalent.
  warnings.warn(
C:\Users\Lenovo\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\tree\_classes.py:397: FutureWarning: Criterion 'mse' was deprecated in v1.0 and will be removed in version 1.2. Use `criterion='squared_error'` which is equivalent.
  warnings.warn(
C:\Users\Lenovo\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\tree\_classes.py:397: FutureWarning: Criterion 'mse' was deprecated in v1.0 and will be removed in version 1.2. Use `criterion='squared_error'` which is equivalent.
  warnings.warn(
C:\Users\Lenovo\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\tree\_classes.py:397: FutureWarning: Criterion 'mse' was deprecated in v1.0 and will be removed in version 1.2. Use `criterion='squared_error'` which is equivalent.
  warnings.warn(
C:\Users\Lenovo\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\tree\_classes.py:397: FutureWarning: Criterion 'mse' was deprecated in v1.0 and will be removed in version 1.2. Use `criterion='squared_error'` which is equivalent.
  warnings.warn(
C:\Users\Lenovo\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\tree\_classes.py:397: FutureWarning: Criterion 'mse' was deprecated in v1.0 and will be removed in version 1.2. Use `criterion='squared_error'` which is equivalent.
  warnings.warn(
C:\Users\Lenovo\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\tree\_classes.py:397: FutureWarning: Criterion 'mse' was deprecated in v1.0 and will be removed in version 1.2. Use `criterion='squared_error'` which is equivalent.
  warnings.warn(

C:\Users\Lenovo\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\tree\_classes.py:397: FutureWarning: Criterion 'mse' was deprecated in v1.0 and will be removed in version 1.2. Use `criterion='squared_error'` which is equivalent.
  warnings.warn(
C:\Users\Lenovo\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\tree\_classes.py:397: FutureWarning: Criterion 'mse' was deprecated in v1.0 and will be removed in version 1.2. Use `criterion='squared_error'` which is equivalent.
  warnings.warn(
C:\Users\Lenovo\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\tree\_classes.py:397: FutureWarning: Criterion 'mse' was deprecated in v1.0 and will be removed in version 1.2. Use `criterion='squared_error'` which is equivalent.
  warnings.warn(

               model  best_score                               best_params
0  linear_regression    0.583892                      {'normalize': False}
1              lasso    0.557069       {'alpha': 1, 'selection': 'random'}
2      decision_tree    0.799844  {'criterion': 'mse', 'splitter': 'best'}

In [46]:
regressor = DecisionTreeRegressor(random_state = 0) 
  
# fit the regressor with X and Y data
regressor.fit(X_train, y_train)
regressor.score(X_test,y_test)

0.7708936706527468

In [47]:
loc_index = np.where(X.columns=='peanut')[0][0]

loc_index

6

In [48]:


def predict_moisture(cropname,time,tempreture,airmoisture, pressure, windspeed):    
    loc_index = np.where(X.columns==cropname)[0][0]#index of column where crop name exist

    x = np.zeros(len(X.columns))
    x[0] = time
    x[1] = tempreture
    x[2] = airmoisture
    x[3] = pressure
    x[4] = windspeed
    if loc_index >= 0:
        x[loc_index] = 1
        
    print(x)

    return regressor.predict([x])[0]

In [49]:
predict_moisture('peanut', 192, 26, 50, 101, 2.17)

[192.    26.    50.   101.     2.17   0.     1.  ]

C:\Users\Lenovo\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but DecisionTreeRegressor was fitted with feature names
  warnings.warn(

24.79

In [52]:
import pickle
with open('MoistPredModel2.pickle','wb') as f:
    pickle.dump(regressor,f)

In [51]:
import json
columns = {
    'data_columns' : [col.lower() for col in X.columns]
}
with open("columns.json","w") as f:
    f.write(json.dumps(columns))